

body{
  padding-top: 70px; /*sets a padding between nav and body*/
  margin-bottom: 130px; /* Margin bottom by footer height */
  font-family: 'Raleway', sans-serif;
  background-image: url("https://pixabay.com/static/uploads/photo/2016/03/05/22/01/appetite-1239154_960_720.jpg");  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  background-color: #e6e6e6;
  background-attachment: fixed;
}

html {
  position: relative;
  min-height: 100%;
}

h1,h2,h3{
  font-weight: 700;
}

h4,h5,h6{
  font-weight: 400;
}

p{
  font-weight: 200;
}

.jumbotron{
  background-color: rgba(255,255,255,0.95);
  border-left: 2px solid #186936;
  border-right: 2px solid #186936;
  border-top: 2px solid #5b973b;
  border-bottom: 2px solid #5b973b;
}

/* --------------Navbar stuff--------------------------- */

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  max-height: 60px;
  padding: 10px; /* firefox bug fix */
  width: auto;
  display: inline-block;
}

/* The links in the navbar */
#filter > li{
  color: black;
  font-size: 18px;
  margin-right: 3vw;
  margin-left: 3vw;
}

/* Centers navbar */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

/* Centers collapsed navbar */
.navbar .navbar-collapse {
  text-align: center;
}

/* Purple border */
.navbar-default {
  border-bottom: 2px solid #9a2e4a; 
}

/* These will recolor the list elements of nav */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: #FFFFFF;
  color: #00e600;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus{
  background-color: #FFFFFF;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus{
  background-color: #FFFFFF;
  color: #00e600;
}

/*-------------------------end of navbar--------------------------*/

/*--------------------------View recipe---------------------------*/

/* Container for the picture of the recipe */
#picture-container{
  border-bottom: 2px solid #9a2e4a;/* Purple border */
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Moves ingredient down from the border */
#ingredient-container{
  margin-top: 20px;
}

/* Aligns ingredients to the left */
#ingredients_list{
  text-align: left;
  padding-left: 30px;
}

/* Moves intstruction title down from the border */
#instruction-container{
  border-left: 2px solid #9a2e4a;
  margin-top: 20px;
}

/* Moves the description down from the border */
#description-container{
  border-top: 2px solid #9a2e4a;
  padding-top: 30px;
  margin-top: 30px;
}

#description{
 margin-top: 0px;
}

#description_text{
 font-weight: 200px;

 text-align: left;
} 

/* Moves picture down */
#exempel{
  margin-top: 20px;
}

#recipe_title{
  font-size: 50px;
} 

#instruction_elements{
  margin: 20px;
  text-align: left;
}

.descriptiontext{
 margin-bottom: -20px;
}

.instructiontext{
 margin-bottom: 30px;
}

#ingredienttitle{
 margin-bottom: 30px;
}

blockquote{
  padding: 50px;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-family: Georgia;
  font-size: 80px;
  position: absolute;
  left: 30px;
  top: 20px;
  color: #7a7a7a;
}

#quote{
  color: #7a7a7a;
  font-size: 80px;
  font-family: Georgia
}

/*---------------------end of view recipe------------------*/

#motivation_group{
  margin-top: 20px;
}


#textaboutus{
 position: center;
}

#about_us_group{
  margin-top: 10px;
}

.recipe-preview{
  padding-top: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 130px; /* change this and the number in body aswell, MUST BE SAME */
  background-color: #f5f5f5;
  border-bottom: 10px solid #5b973b;
}

#footerlogo{
  height: 100px;
  width: auto;
}

.copyright-container{
  background-color: #e7e7e7;
  color: #919191;
  border-top: 10px solid #5b973b;
}


#footer_links{
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
}

#footer_copyright{
  background-color: #5b973b;
  border-bottom: 5px solid #5b973b;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

#option_sign_up{
  font-size: 18px;
  margin: 6px;
}

#option_log_in{
  font-size: 18px;
}

#btntext{
 margin-left: 5px;
}

.list-group > li,
.checkbox > li{
 background-color: transparent;
 border-color: transparent;
 padding-left: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
}

.ingbtns.active {
  background-color: green;
}

.btn-default{
  background-image: none;
}

#filterlist{
  text-align: center;
}

#inglist{
  font-size: 18px;
  text-align: left;
}

#ing{
}

#inglist > li:hover{
  border-color: black;
  border-radius: 5px;

}

#recipefilter > li:hover{
  background-color: #808080;
}

#sign_up_motivation{
  font-weight: 200;
  margin-left: 100px;
}

.dropdown-toggle{
 font-weight: normal;
 font-size: 14px;
}

.form{
 font-weight: normal;
 font-size: 10px;
}

#form_details{
  margin-bottom: 10px;
}

#form_button{
  margin-top: 30px;
}


.bottom text-center{
 font-weight: normal;
 font-size: 10px;
}

.loginbtn{
  margin-top: 50px;
}

.linespacing{
  line-height: 180%;
}

ul.dropdown-menu li {
  color: black;
}

.btn-primary, .dropdown-toggle,
.open .dropdown-toggle.btn-primary {
  color: black;
}

.btn-default:active, 
.btn-default.active,
.btn-default:focus,
.btn-default.focus{
  background-color: #5cb85c;
  color: white;
}

/* Login */

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}

@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

/*Carousel*/ 
#jumbotron-carousel{
  background-color: rgba(255,255,255,0.95);
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.slider {
  position: relative;
  height: 470px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
  display: block;
}


/* Slide feature */



.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  background-color: #B82183;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}



/* Initial body */
body {
  overflow: scroll;
}



.sign-up-form{
  bottom: -110%;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 100%;
}

.log-in-form{
  bottom: -110%;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 100%;
}

.vertical-align{
  display: flex;
  align-items: center;
}

.next, .prev{
  font-size: 15vw;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-family: "Varela Round", sans-serif;
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.next:hover,
.prev:hover{
  opacity: 1;
  text-shadow: 0px 0px 15px rgb(50, 50, 50);
}

.nav label { display: block; }

.nav-dots {
  width: 100%;
  height: 11px; 
  text-align: center;
  margin-top: 20px;
}

.nav-dots .nav-dot {
  width: 11px;
  height: 11px;
  margin: 0 4px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#active-dot{
  background-color: rgba(0, 0, 0, 0.8);
}

.splashpic{
  max-height: 250px;
}

.jumbotron p { font-size: 4vw ;}
@media (min-width: 400px){
  .jumbotron p {
    font-size: 20px;  /*above 800px */
  }
}



#sign_up_button_area{
  margin-top: 70px;
}

#dot_area{
  margin-top: 50px;
}